<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Contacts</h4>
                <p>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <a href="mailto:balun-wang@qq.com">balun-wang@qq.com</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>My Links</h4>
                <p>
                    <a href="https://github.com/juelite" rel="nofollow" target="_blank">Github</a><br/>
                    <a href="http://www.yuuuu.wang">Balun Wang</a><br/>
                    <a href="http://lts.yuuuu.wang">LTS</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>CopyRight</h4>
                <p>
                    {$conf.copyright}
                    <br/>
                    <bd><a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">{$conf.icp}</a></bd>
                </p>
            </div><!-- /col-lg-4 -->

        </div>

    </div>
</div>
<script src="__PUBLIC__/tmp2/js/bootstrap.min.js"></script>
</body>
</html>