<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top" id="top">
    <div class="container">
        <div class="btn-group head-nav">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                我的项目 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="http://lts.yuuuu.wang" target="_blank">简单socket聊天室</a></li>
                <li><a href="https://github.com/juelite/blog/" target="_blank" rel="nofollow">Thinkphp博客系统</a></li>
            </ul>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Balun Wang</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <volist name="GCate" id="vo">
                    <li><a href="/category/{$vo.url}.html">{$vo.name} <span class="badge">{$vo.num}</span></a></li>
                </volist>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>