<include file="Common:head"/>
<style>
    blockquote{background-color: #1f0304;color: #fff;padding: 15px;}
    ol{
        list-style: disc;
        padding-left: 20px;
    }
    img{
        width:80%;
    }
</style>
<body>
<include file="Common:bread"/>
<article class="page-container">
    <form action="__SELF__" method="post" class="form form-horizontal" id="form-member-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text" name="title" value="" placeholder="请输入文章标题">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <select name="cate" class="input-text">
                    <option value="0">请选择</option>
                    <volist name="dict['cates']" id="cate">
                        <option value="{$cate.id}">{$cate.name}</option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标签：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <volist name="dict['tags']" id="tag">
                    <div style="float: left; margin-right: 15px;">
                        <input type="checkbox" id="{$tag.id}" name="tags[]" value="{$tag.id}">
                        <label for="{$tag.id}">{$tag.name}</label>
                    </div>
                </volist>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>发布日期：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text" name="createtime" data-beatpicker="true" value="" >
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <div style="border: 1px solid #ccc;border-bottom: none;padding: 5px;">
                    <button class="btn btn-default radius preview" type="button" data-toggle="modal" data-target=".bs-example-modal-lg">
                        <i class="Hui-iconfont">&#xe720;</i> 预览
                    </button>
                    <button class="btn btn-default radius" type="button" data-toggle="modal" data-target="#imgModal">
                        <i class="Hui-iconfont">&#xe613;</i> 插图
                    </button>
                </div>
                <textarea id="text-input" class="textarea" name="content" style="width: 100%;height: 250px;">请输入文章内容，支持markdown。</textarea>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-1" checked value="1">
                    <label for="sex-1">启用</label>
                </div>
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-2" value="0">
                    <label for="sex-2">禁用</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
<!--预览弹窗-->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">内容预览</h4>
            </div>
            <div class="modal-body preview_con">

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--插图弹窗-->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imgModalLabel">图片</h4>
            </div>
            <div class="modal-body img-pre">
                <div>
                    <span>
                        <input type="file" id="file_up" class="btn btn-primary radius">
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" disabled class="btn btn-primary insert-pic disabled">插入图片</button>
            </div>
        </div>
    </div>
</div>
<include file="Common:foot" />
<include file="Common:base_js" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/common/beatPicker/css/BeatPicker.min.css"/>
<script src="__PUBLIC__/common/BeatPicker/js/BeatPicker.min.js"></script>

</body>

<script src="__PUBLIC__/markdown/markdown.js"></script>
<script>
    $(document).ready(function(){
        $("textarea").on('keydown', function(e) {
            if (e.keyCode == 9) {
                e.preventDefault();
                var indent = '    ';
                var start = this.selectionStart;
                var end = this.selectionEnd;
                var selected = window.getSelection().toString();
                selected = indent + selected.replace(/\n/g, '\n' + indent);
                this.value = this.value.substring(0, start) + selected
                    + this.value.substring(end);
                this.setSelectionRange(start + indent.length, start
                    + selected.length);
            }
        });
        $('.preview').click(function(){
            var input = $('#text-input').val();
            var html = markdown.toHTML(input);
            $('.preview_con').html(html);
        });

        //插图
        $('#file_up').on('change', function () {
            var data = new FormData(),file = $('#file_up')[0].files[0];
            data.append('img', file);

            $.ajax({
                url: '__ROOT__/tool.php/attr/up',
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (res) {
                    if(res.code == 0){
                        var html = '<img src="__ROOT__'+ res.data.path+'" style="width: 250px;" />';
                        $('.img-pre').html(html);
                        $('.insert-pic').attr('disabled' , false);
                        $('.insert-pic').removeClass('disabled');
                        $('.insert-pic').attr('data-path' , res.data.path);
                    }else{
                        $('.img-pre').fadeIn(100).html('<font color="error">'+ res.msg +'</font>').fadeOut(4000);
                    }
                },
                error: function (res) {

                }
            });
        })

        $('.insert-pic').click(function () {
            var path = $(this).data('path');
            var html = '\r\n![示例图片]('+ path +' "示例图片")';
            //console.log(html);
            $('#text-input').append(html);
        })
    })

</script>
</html>