<include file="common:head"/>
<body>
<include file="common:bread"/>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l mb-5">
            <a href="javascript:;" onclick="batchdelete()" class="btn btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
            </a>
            <a class="btn btn-primary radius" data-title="发布文章" data-href="{:U('posts/add')}" onclick="Hui_admin_tab(this)" href="javascript:;">
                <i class="Hui-iconfont">&#xe600;</i> 发布文章
            </a>
         </span>
        <!--<span class="r">共有数据：<strong>{$total}</strong> 条</span></div>-->
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr>
                <th scope="col" colspan="8">文章管理</th>
            </tr>
            <tr class="text-c">
                <th width="20"><input type="checkbox" name="" value=""></th>
                <th width="25">ID</th>
                <th>标题</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr class="text-c">
                    <td><input type="checkbox" value="{$vo.id}" name="checkbox"></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.createtime|date="Y-m-d H:i:s",###}</td>
                    <td>
                        <notempty name="vo.updatetime">
                            {$vo.updatetime|date="Y-m-d H:i:s",###}
                        <else/>
                            /
                        </notempty>
                    </td>
                    <td>{$vo.username}</td>
                    <td class="td-status">
                        <eq name="vo.status" value="1">
                            <span class="label label-success radius">已启用</span>
                            <else/>
                            <span class="label radius">已停用</span>
                        </eq>
                    </td>
                    <td class="f-14">
                        <a title="<eq name='vo.status' value='1'>停用<else />启用</eq>" href="javascript:;" style="text-decoration:none" onclick="posts_status(this,'{$vo[\'id\']}')">

                            <eq name="vo.status" value="1">
                                <i class="Hui-iconfont">&#xe6dd;</i>
                            <else/>
                                <i class="Hui-iconfont">&#xe6e1;</i>
                            </eq>
                        </a>
                        <a class="ml-5" data-title="编辑文章" data-href="{:U('posts/edit?id='.$vo['id'])}" onclick="Hui_admin_tab(this)" href="javascript:;">
                            <i class="Hui-iconfont">&#xe6df;</i>
                        </a>

                        <a title="删除" href="javascript:;" onclick="posts_del(this,'{$vo[\'id\']}')" class="ml-5"
                           style="text-decoration:none">
                            <i class="Hui-iconfont">&#xe6e2;</i>
                        </a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class="mt-10">
            <span class="l">共有数据：<strong>{$total}</strong> 条</span>
            <span class="r">{$page}</span>
        </div>
    </div>
</div>
<include file="common:foot" />
<include file="common:base_js" />

</body>
<script type="text/javascript">
    /*管理员-文章-删除*/
    function posts_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '{:U("posts/del")}',
                dataType: 'json',
                data:{'id':id},
                success: function (data) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data.msg);
                }
            });
        });
    }

    /*停用/启用*/
    function posts_status(obj,id) {
        $.ajax({
            type: 'POST',
            url: '{:U("posts/status")}',
            dataType: 'json',
            data: {'id': id},
            success: function (data) {
                layer.msg(data.msg, {icon: 1, time: 1000});
                setTimeout(function () {
                    close_handle_self();
                },1000);
                //window.location.reload();
            },
            error: function (data) {
                console.log(data.msg);
            }
        });
    }

    /*批量删除*/
    function batchdelete() {
        var ids = '';
        $('input[name="checkbox"]:checked').each(function () {
            ids += $(this).val() + ',';
        });
        if (ids.length <= 0) {
            layer.msg('请选择要删除的数据!', {icon: 3, time: 2000});
            return false;
        }
        layer.confirm('确认要批量删除选中的数据吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '{:U("posts/batchdelete")}',
                dataType: 'json',
                data: {'ids': ids},
                success: function (data) {
                    layer.msg('删除成功!', {icon: 1, time: 1000});
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data.msg);
                }
            });
        });
    }
</script>
</html>